php_value include_path "./app/:./../app/:./../../app/:./../../../app/"
php_value auto_prepend_file "functions.php"

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteRule ^$ /app/index.php [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /app/$1 [L]
</IfModule>
