body, main {
    position: relative;
    width: 100%;
    height: 100vh;

    background-color: $white;
}

a:hover {
    text-decoration: underline;
}

xmp {
    display: inline-block;
}

.banner-wrapper {
    @extend %pos-center-X;

    display: inline-block;
    position: relative;

    padding-top: 100px;

    iframe {
        position: relative;
    }
}
