.hyphenator {
    @extend %txt-dark;

    position: relative;
    margin: 0 auto;

    width: 100%;
    max-width: 800px;
    height: 100vh;

    padding: 0 15px;

    box-sizing: border-box;
    * {
        box-sizing: border-box;
    }

    select {
        width: 170px;
    }

    textarea {
        max-width: 770px;
    }

    .head {
        position: relative;

        width: 100%;
        margin-top: 30px;

        span, img {
            float: right;
        }

        select, img {
            margin-left: 20px;
        }

        #delete-saved-value {
            position: relative;
            top: 3px;
            width: 23px;
            height: auto;

            cursor: pointer;
        }
    }

    input, textarea, select {
        padding: 6px;
        border: 1px solid $light-black;
    }

    form {
        position: relative;

        input {
            margin-top: 15px;
        }

        .source {
            padding-top: 25px;

            textarea {
                margin-top: 20px;
                width: 100%;
            }
        }

        .options {
            padding: 10px 0;

            input[name="identifier"], input[name="directory"] {
                display: block;
                width: 100%;
            }

            input[type="radio"] {
                margin-top: 22px;
                margin-left: 10px;
                margin-right: 7px;
            }

            fieldset {

                label {
                    padding: 10px 0;
                }
                label:nth-child(8) {
                    float: right;
                    padding: 0;
                    input {
                        margin-left: 10px;
                        max-width: 100px;
                    }
                }
                label:nth-child(9) {
                    display: block;
                    margin-top: 25px;
                }
                label:nth-child(10) {
                    display: block;
                }
                label:nth-child(8) input, label:nth-child(9) input, label:nth-child(10) input {
                    height: 30px;
                }

                span:last-child {
                    float: right;
                    margin: 15px 0;
                }

                select {
                    margin-left: 20px;
                }
            }

        }

        .exeptions {

            label {
                display: block;
                textarea {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }

}
