.sidebar {
	position: fixed;
	display: inline-block;
	top: 0;
	height: 100vh;
	min-width: 300px;

	background-color: $light-black;

	-webkit-box-sizing: border-box;
	        box-sizing: border-box;

	-webkit-transition: left 0.5s ease-out, right 0.5s ease-out;
	-o-transition: left 0.5s ease-out, right 0.5s ease-out;
	transition: left 0.5s ease-out, right 0.5s ease-out;
}

.sidebar-right {
	right: 0;
}

.sidebar-left {
	left: 0;
}

.sidebar-arrow-container {
	position: absolute;
	top: 50%;

	height: 100vh;
	width: 50px;
	background-color: transparent;

	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);

	opacity: 0;
	-webkit-transition: opacity 0.5s ease-out;
	-o-transition: opacity 0.5s ease-out;
	transition: opacity 0.5s ease-out;
	&:hover {
		opacity: 1;
	}

}

.sidebar-arrow-container-right {
	left: -50px;
}

.sidebar-arrow-container-left {
	right: -50px;
}

.sidebar-arrow-wrapper {
	position: relative;
	display: inline-block;

	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);

}

.sidebar-arrow {
	position: relative;
	cursor: pointer;
}

.sidebar-arrow-right {
	left: 10px;
	transform: rotate(90deg);
}

.sidebar-arrow-left {
	right: 0px;
	transform: rotate(-90deg);
}

.resizable-wrapper-right {
	position: relative;
	left: auto !important;

	height: 100vh;
	min-width: 300px !important;

	padding: 5px;

	-webkit-box-sizing: border-box;
        box-sizing: border-box;
}

.resizable-wrapper-left {
	position: relative;
	left: auto !important;

	height: 100vh;
	min-width: 300px !important;

	padding: 5px;

	-webkit-box-sizing: border-box;
        box-sizing: border-box;
}