[class*="button"] {
    cursor: pointer;
}

.button-light {
    @extend %txt-dark;
    @include bounce-to-top($white, $light-black);

    border: 1px solid $light-black;
}

.button-dark {
    @extend %txt-light;
    @include bounce-to-top($light-black, $white);

    border: 1px solid $white;
}

.button-iframe, .button-hyphenator {
    @extend %pos-center-X;

    position: fixed;
    bottom: 5px;

    padding: 15px 38px;
    background-color: $white-alpha;
}

.button-export {
    position: absolute;
    bottom: 10px;

    width: 100%;

    padding: 15px 38px;
    background-color: $light-black;
}

.button-save-values {
    position: absolute;
    bottom: 35px;
    right: 15px;

    padding: 11px 22px;
    background-color: $white-alpha;
}
