* {
	margin:0;
	padding:0;
	border:0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
	text-decoration: none;
}

.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}